<ion-header class="fade" [style.opacity]="ionHeaderOpacity">
  <ion-toolbar>
    <ion-title class="fade" [style.opacity]="ionTitleOpacity">
      My Apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <h1 #h1 class="fade" [style.opacity]="h1Opacity">
    My Apps
  </h1>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Fading Header Example
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Try scrolling up in both Android and iOS modes.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.content }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>